VITE_OIDC_AUTHORITY=http://localhost:8080/auth/realms/archguard
VITE_OIDC_CLIENT_ID=archguard-web
VITE_OIDC_REDIRECT_URI=http://localhost:8080/auth/callback
VITE_OIDC_POST_LOGOUT_REDIRECT_URI=http://localhost:8080/
